In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is an organized collection of structured information, or data, typically stored electronically in 
a computer system. A database is usually controlled by a database management system (DBMS)



SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. 
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. 
SQL databases are better for multi-row transactions,
while NoSQL is better for unstructured data like documents or JSON.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL(Data Defination Language it is subset of sql) is a standardized language with commands to 
define the storage groups (stogroups), different structures 
and objects in a database
CREATE :
This command is used to create a new table in SQL.
The user has to give information like table name, column names, and their datatypes.
eg-
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);



ALTER :
This command is used to add, delete or change columns in the existing table.
The user needs to know the existing table name and can
do add, delete or modify tasks easily.
eg- ALTER TABLE Student_info
    ADD CGPA number;
TRUNCATE :
This command is used to remove all rows from the table,
but the structure of the table still exists.
eg-
TRUNCATE TABLE Student_info;

DROP :
This command is used to remove an
existing table along with its structure from the Database.
eg-
DROP TABLE Student_info;

RENAME TABLE Employee To EMP;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
Data modification language statements (DML) INSERT, UPDATE, and DELETE. Use the INSERT 
command to enter data into a table

Insert command is used to insert data into a table
Insert into <table_name> (column list) values (column values);
Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);

Update command is used to update existing data within a table.
UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;


Delete command is used to delete records from a database table.
DELETE from Employee WHERE Emp_id=002;

In [ ]:
What is DQL? Explain SELECT with an example.

In [ ]:
DQL is a portion of a SQL statement that allows you 
to get and organise data from a database.
You can use the SELECT command to extract data from a database in order to perform actions on it. It is
the same as the projection operation in relational algebra.

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
primary key is a unique column we set  in a table to locate data in queries
a table can have only one primary key which should be unique and NOT NULL
for eg roll no in classroom

FORIEGN KEYS
A foriegn key is a column used to lind two or more table together
it contain null and duplicate values

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
The SQL order of execution defines the order in which the clauses of a query are evaluated. Some of the most common query 
challenges people run into could be easily avoided with a clearer understanding of the SQL order of execution,